[Unit]
Description=Ciclo Limite
After=network.target

[Service]
User=root
ExecStart=/home/aster/ciclo-limite/start_ciclo_limite.sh
Restart=always

[Install]
WantedBy=multi-user.target